*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #066;
    text-transform: none;
    background-color: mintcream;
}

/* to control and design the forms, changes here will enable direct editing.....................................................................................*/
label{

    width: 10em;

    text-align: center;
    margin-right: 0.5em;
    display: inline-block;

}
#labelcentral{

    text-align: center;
}

#labelcentral1{

    text-align: left;
}


.submit input{

    margin-left: 4.5em;
    color: darkgreen;
    border: 2px outset #d7b9c9
}
fieldset
{
    border: 1px solid darkorange;
    width: auto;

}

input
{
    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351;

}
textarea{
    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351;

}


main {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
}

header{



    margin-left: auto;
    margin-right: auto;
}



/* ending of form control and design......................................................................................................................... */


#logo{
    alignment: left;
    width: 200px;
}

h1 {
    text-align: center;

}


#title{
    text-align:center;
    font-weight: 300;
}

nav{
    margin-right: auto;
    margin-left: auto;
}
/* to control the hyper links, changes here will edit the headers */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li{
    float: left;
}

li a{
    display: inline-block;
    text-align: center;
    padding: 0 30px 30px 30px;
    text-decoration: none;
    background-color:  #066;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 100%;
    color: white;

}

li a:hover{
    background-color:orange;

}

span{
    background-color: orange;
}

/* end of hyper link control ..........................................................................*/
footer{
    background-color:  #066;
    text-align: center;
    color: white;
    clear:both;
    position: absolute;
}